body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: rgb(20, 20, 20);
}

*{
    transition: all 1s; 
}

.rect {
    background: transparent;
    border: 10px solid white;
    background-size: 100%;
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 3000000000px;
}

.board{
    position: fixed;
    height: 100%;
    width: 100%;
}

.main,.lose{
    top: 0;
    padding: 50px 0;
    color: white;
    font-size: 38px;
    font-weight: lighter;
    font-family: 'Segoe UI';
    text-align: center;
    text-shadow: 5px 5px 0px rgb(100, 100, 100);
    z-index: 30;
}

#gameBoard{
    z-index: 20;
    transition: all 1s, transform 9s;
    width: 80%;
    margin-left: 10%;
}

#loseBoard{
    z-index: 10;
    opacity: 0;
    display: none;
}

.title{
    font-size: 70px;
}

.desc{
    color: rgb(240, 240, 240);
    font-size: 40px;
}

.button {
    border: 2px solid white;
    display: inline-block;
    box-shadow: 5px 5px 0 rgb(100, 100, 100);
    padding: 5px;
    width: 300px;
    margin:  15px;
    cursor: pointer;
}
 
.button:hover{
    background: white;
    color: rgb(50, 50, 50);
}   
.opt{
    margin: 200px 0;
}

.credit{
    font-size: 21px;
    width: 300px;
    background: rgba(0,0,0,0.9);
    padding: 9px 15px;
    border-radius: 300px;
    display: inline-block;
}

.score {
    display: block;
    color: rgb(240, 240, 240);
    font-family: "Segoe UI";
    font-size: 128px;
    margin-top: 20%;
    text-align: center;
}

.alert{
    z-index: 15;
    opacity: 0;
    transition: all 6s;
}


@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }

    .desc{
    font-size: 26px;
    }
    
    .opt{
        margin: 15%;
    }

    .button {
        font-size: 24px;
        width: 60%;
        padding: 0px 15px;
        }

    .credit{
    font-size: 18px;
    width: 70%;
    padding: 1px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.rect{
    width: 90px;
    height: 90px;
}
}