<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gabrielvanderlei.fallfall"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Fall Fall</name>

  <description>
      Não deixe as bolhas cairem.
  </description>

  <author href="https://gabrielvanderlei.github.com" email="gabrielvanderlei10@hotmail.com">
     Gabriel Vanderlei
  </author>

  <icon src="res/favicon.jpg" />    
</widget>